asgiref==3.8.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
babel==2.17.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
constantly==23.10.4
cryptography==44.0.1
daphne==4.1.2
Django==5.1.15
django-appconf==1.1.0
django-compressor==4.5.1
django-cors-headers==4.6.0
django-extensions==3.2.3
django_csp==3.8
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
hyperlink==21.0.0
i18n==0.2
idna==3.10
incremental==24.7.2
packaging==24.2
pillow==11.1.0
priority==1.3.0
psycopg2-binary==2.9.10
py==1.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.0.0
rcssmin==1.1.2
requests==2.32.4
rjsmin==1.2.2
service-identity==24.2.0
sqlparse==0.5.3
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.6.3
zope.interface==7.2

# MySQL driver for Django
mysqlclient==2.2.6
PyMySQL==1.1.1
