{% load i18n %}
{% blocktrans with username=user.username %}Bonjour {{ username }},{% endblocktrans %}

{% trans "Nous avons reçu une demande de réinitialisation du mot de passe pour votre compte." %}

{% trans "Pour choisir un nouveau mot de passe, cliquez sur le lien ci-dessous (ou copiez/collez-le dans votre navigateur) :" %}

{{ reset_url }}

{% trans "Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email : aucun changement ne sera effectué." %}
{% trans "Pour toute question, n’hésitez pas à nous contacter a rejoindre le salon #!aide sur notre serveur." %}

{% trans "Cordialement," %}
{% blocktrans with site_name=site_brand.site_name %}Services@{{ site_name }}{% endblocktrans %}
{% blocktrans with site_name=site_brand.site_name %}{{ site_name }} Network{% endblocktrans %}
