{% load static %}
{% load i18n %}
<footer class="footer footer--style3 footer--modern" aria-label="Footer">
    <div class="footer__top bg_img wow fadeInUp" data-wow-duration="1.5s" style="background-image: url('{% static footer.background_image %}');">
        <div class="footer__toparea padding-top padding-bottom">
            <div class="container">
                <div class="row g-4 align-items-stretch">
                    <div class="col-lg col-md-6 col-12">
                        <div class="footer__item footer--about h-100">
                            <div class="footer__inner h-100 d-flex flex-column">
                                <div class="footer__content--title">
                                    <h2 class="h4 text-nowrap m-0"><i class="fa-solid fa-circle-info"></i> {% trans "À propos" %}</h2>
                                </div>
                                <div class="footer__content--desc">
                                    <ul>
                                        <li>
                                            <a class="text-nowrap" href="{% url 'main:terms' %}">
                                                <i class="fa-solid fa-file-contract"></i>{% trans "Conditions générales" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-nowrap" href="{% url 'main:about' %}">
                                                <i class="fa-solid fa-circle-info"></i>{% trans "À propos" %}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-nowrap" href="{% url 'main:legal' %}">
                                                <i class="fa-solid fa-scale-balanced"></i>{% trans "Mentions légales" %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg col-md-6 col-12">
                        <div class="footer__item footer--support h-100">
                            <div class="footer__inner h-100 d-flex flex-column">
                                <div class="footer__content--title">
                                    <h2 class="h4 text-nowrap m-0"><i class="fa-solid fa-circle-info"></i> {% trans "Informations" %}</h2>
                                </div>
                                <div class="footer__content--desc">
                                    <ul>
                                        {% for item in footer.information_links %}
                                            <li>
                                                <a class="text-nowrap" href="{{ item.url }}">
                                                    {% with label=item.label|lower %}
                                                        {% if label == 'network' %}
                                                            <i class="fa-solid fa-network-wired"></i>{{ item.label }}
                                                        {% elif label == 'membres' or label == 'members' %}
                                                            <i class="fa-solid fa-users"></i>{{ item.label }}
                                                        {% elif label == 'blog' %}
                                                            <i class="fa-solid fa-newspaper"></i>{{ item.label }}
                                                        {% elif label == 'inscription' or label == 'register' or label == 'signup' %}
                                                            <i class="fa-solid fa-user-plus"></i>{{ item.label }}
                                                        {% elif label == 'connexion' or label == 'login' %}
                                                            <i class="fa-solid fa-right-to-bracket"></i>{{ item.label }}
                                                        {% else %}
                                                            <i class="fa-solid fa-angle-right"></i>{{ item.label }}
                                                        {% endif %}
                                                    {% endwith %}
                                                </a>
                                            </li>
                                            {% if item.label|lower == 'network' %}
                                                <li>
                                                    <a class="text-nowrap" href="https://github.com/revrsefr" target="_blank" rel="noopener noreferrer" aria-label="{% trans "GitHub" %}">
                                                        <i class="fa-brands fa-github"></i>{% trans "GitHub" %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% empty %}
                                            <li><span class="text-muted">{% trans "Bientôt disponible" %}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg col-md-6 col-12">
                        <div class="footer__item footer--support h-100">
                            <div class="footer__inner h-100 d-flex flex-column">
                                <div class="footer__content--title">
                                    <h2 class="h4 text-nowrap m-0"><i class="fa-solid fa-link"></i> {% trans "Liens utiles" %}</h2>
                                </div>
                                <div class="footer__content--desc">
                                    <ul>
                                        {% for item in footer.useful_links %}
                                            <li>
                                                <a class="text-nowrap" href="{{ item.url }}">
                                                    {% with label=item.label|lower %}
                                                        {% if label == 'membres' or label == 'members' %}
                                                            <i class="fa-solid fa-users"></i>{{ item.label }}
                                                        {% elif label == 'blog' %}
                                                            <i class="fa-solid fa-newspaper"></i>{{ item.label }}
                                                        {% elif label == 'inscription' or label == 'register' or label == 'signup' %}
                                                            <i class="fa-solid fa-user-plus"></i>{{ item.label }}
                                                        {% elif label == 'connexion' or label == 'login' %}
                                                            <i class="fa-solid fa-right-to-bracket"></i>{{ item.label }}
                                                        {% else %}
                                                            <i class="fa-solid fa-angle-right"></i>{{ item.label }}
                                                        {% endif %}
                                                    {% endwith %}
                                                </a>
                                            </li>
                                        {% empty %}
                                            <li><span class="text-muted">{% trans "Bientôt disponible" %}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg col-md-6 col-12">
                        <div class="footer__item footer--support h-100">
                            <div class="footer__inner h-100 d-flex flex-column">
                                <div class="footer__content--title">
                                    <h2 class="h4 text-nowrap m-0"><i class="fa-solid fa-newspaper"></i> {% trans "Articles récents" %}</h2>
                                </div>
                                <div class="footer__content--desc">
                                    <ul>
                                        {% for item in footer.recent_articles %}
                                            <li>
                                                <a href="{{ item.url }}">
                                                    <i class="fa-solid fa-newspaper"></i>{{ item.title }}
                                                </a>
                                            </li>
                                        {% empty %}
                                            <li><span class="text-muted">{% trans "Aucun article récent" %}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg col-md-6 col-12">
                        <div class="footer__item footer--activity h-100">
                            <div class="footer__inner h-100 d-flex flex-column">
                                <div class="footer__content--title">
                                    <h2 class="h4 text-nowrap m-0"><i class="fa-solid fa-users"></i> {% trans "Derniers inscrits" %}</h2>
                                </div>
                                <div class="footer__content--desc">
                                    <ul class="footer__latest-list">
                                        {% for member in footer.latest_users %}
                                            <li>
                                                <a class="footer__latest-link" href="{% url 'member_profile' member.username %}" aria-label="{{ member.username }}">
                                                    <img
                                                        class="footer__avatar"
                                                        src="{% if member.avatar_thumb_100_url %}{{ member.avatar_thumb_100_url }}{% elif member.avatar_url %}{{ member.avatar_url }}{% else %}{% static 'images/default-avatar.svg' %}{% endif %}"
                                                        srcset="{{ member.avatar_thumb_100_url }} 100w, {{ member.avatar_thumb_320_url }} 320w, {{ member.avatar_url }} 1024w"
                                                        sizes="48px"
                                                        width="48"
                                                        height="48"
                                                        alt="{{ member.username }}"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-fallback-src="{% static 'images/default-avatar.svg' %}"
                                                    >
                                                    <div class="footer__user">
                                                        <span class="footer__username">{{ member.username }}</span>
                                                        {% if member.date_joined %}
                                                            <span class="meta">{{ member.date_joined|date:"d/m/Y" }}</span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </li>
                                        {% empty %}
                                            <li><span class="text-muted">{% trans "Aucun membre récent" %}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom wow fadeInUp" data-wow-duration="1.5s">
            <div class="container text-center">
                <p class="mb-0">{% trans "All Rights Reserved" %} &copy; {{ footer.year }} <a href="{% url 'main:home' %}">{{ site_brand.site_name }}</a></p>
            </div>
        </div>
    </div>
  </footer>