{% load static %}
{% load i18n %}
<footer class="footer footer--style3 footer--modern" aria-label="Footer">
    <div class="footer__top bg_img wow fadeInUp" data-wow-duration="1.5s" style="background-image: url('{% static footer.background_image %}');">
        <div class="footer__toparea padding-top padding-bottom">
            <div class="container">
                <div class="row g-4 align-items-start">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="footer__item footer--about">
                            <div class="footer__inner">
                                <div class="footer__content">
                                    <div class="footer__content--title">
                                        <h4>{{ site_brand.site_name }}</h4>
                                    </div>
                                    <div class="footer__content--info">
                                        <p class="mb-3">{{ footer.tagline }}</p>
                                        <p class="mb-0"><strong>{% trans "Aide" %}:</strong> {% trans "salon" %} {{ footer.help_channel }}</p>
                                        <p class="mb-0">{{ footer.help_text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="footer__item footer--support">
                            <div class="footer__inner">
                                <div class="footer__content">
                                    <div class="footer__content--title">
                                        <h4>{% trans "Informations" %}</h4>
                                    </div>
                                    <div class="footer__content--desc">
                                        <ul>
                                            {% for item in footer.legal_links %}
                                                <li>
                                                    <a href="{{ item.url }}">
                                                        <i class="fa-solid fa-angle-right"></i>{{ item.label }}
                                                    </a>
                                                </li>
                                            {% empty %}
                                                <li><span class="text-muted">{% trans "Bientôt disponible" %}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer__item footer--support">
                            <div class="footer__inner">
                                <div class="footer__content">
                                    <div class="footer__content--title">
                                        <h4>{% trans "Liens utiles" %}</h4>
                                    </div>
                                    <div class="footer__content--desc">
                                        <ul>
                                            {% for item in footer.useful_links %}
                                                <li>
                                                    <a href="{{ item.url }}">
                                                        <i class="fa-solid fa-angle-right"></i>{{ item.label }}
                                                    </a>
                                                </li>
                                            {% empty %}
                                                <li><span class="text-muted">{% trans "Bientôt disponible" %}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer__item footer--activity">
                            <div class="footer__inner">
                                <div class="footer__content">
                                    <div class="footer__content--title">
                                        <h4>{% trans "Derniers inscrits" %}</h4>
                                    </div>
                                    <div class="footer__content--desc">
                                        <ul class="footer__latest-list">
                                            {% for member in footer.latest_users %}
                                                <li>
                                                    <a href="{% url 'member_profile' member.username %}" aria-label="{{ member.username }}">
                                                        <img class="footer__avatar" src="{{ member.avatar_url }}" alt="{{ member.username }}">
                                                    </a>
                                                    <div class="footer__user">
                                                        <a href="{% url 'member_profile' member.username %}"><h6>{{ member.username }}</h6></a>
                                                        {% if member.date_joined %}
                                                            <span class="meta">{{ member.date_joined|date:"d/m/Y" }}</span>
                                                        {% endif %}
                                                    </div>
                                                </li>
                                            {% empty %}
                                                <li><span class="text-muted">{% trans "Aucun membre récent" %}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom wow fadeInUp" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
            <div class="container">
                <div class="row g-4 g-lg-0 justify-content-lg-between align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="footer__content text-center">
                            <p class="mb-0">{% trans "All Rights Reserved" %} &copy; {{ footer.year }} <a href="{% url 'main:home' %}">{{ site_brand.site_name }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>