{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<header class="header header--style2" id="navbar">
    <!--<div class="header__top d-none d-lg-block">
        <div class="container">
            <div class="header__top--area">
                <div class="header__top--left">
                    <ul>
                        <li><i class="fa-solid fa-phone"></i> <span>+800-123-4567 6587</span></li>
                        <li><i class="fa-solid fa-location-dot"></i> Beverley, New York 224 USA</li>
                    </ul>
                </div>
                <div class="header__top--right">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-messenger"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    <div class="header__bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="{% url 'main:home' %}" aria-label="{{ site_brand.site_name }}">
                    <img
                        src="{% static site_brand.logo_url %}"
                        width="56"
                        height="56"
                        alt=""
                        class="brand-mark"
                        aria-hidden="true"
                        decoding="async"
                    >
                    <span class="brand-name" aria-hidden="true">{{ site_brand.site_name }}</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler--icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav mainmenu">
                        <ul>
                            <li>
                                <a href="#">{% trans "Network" %}</a>
                                <ul>
                                    <li><a href="{% url 'irc_dashboard' %}" target="_blank">{% trans "Network" %}</a></li>
                                    <!--li><a href="blog-2.html">{% trans "Blog Style Two" %}</a></li>
                                    <li><a href="#" target="_blank">{% trans "Blog Details" %}</a></li>-->
                                </ul>
                            </li>
                            <li>
                                <a href="#">{% trans "Communauté" %}</a>
                                <ul>
                                    <!--<li><a href="#" target="_blank">{% trans "Community" %}</a></li>
                                    <li><a href="#" target="_blank">{% trans "All Group" %}</a></li>-->
                                    <li><a href="{% url 'community_membres' %}" target="_blank">{% trans "Membres" %}</a></li>
                                    <!--<li><a href="#" target="_blank">{% trans "Activity" %}</a></li>-->
                                </ul>
                            </li>
                            <li>
                                <a href="#">{% trans "Blog" %}</a>
                                <ul>
                                    <li><a href="{% url 'blog:blog_list' %}" target="_blank">{% trans "Blog" %}</a></li>
                                    <!--li><a href="blog-2.html">{% trans "Blog Style Two" %}</a></li>
                                    <li><a href="#" target="_blank">{% trans "Blog Details" %}</a></li>-->
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <ul class="button-group">
                        <li class="dropdown header-language-dropdown">
                            <button
                                class="header-lang-toggle dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                aria-label="{% trans 'Changer de langue' %}"
                            >
                                <i class="bi bi-translate"></i>
                                <span class="lang-code">{{ LANGUAGE_CODE|upper }}</span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end">
                                {% for language in languages %}
                                    <li>
                                        <form action="{% url 'set_language' %}" method="post" class="lang-item-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                            <button
                                                type="submit"
                                                name="language"
                                                value="{{ language.code }}"
                                                class="dropdown-item{% if language.code == LANGUAGE_CODE %} active{% endif %}"
                                            >
                                                {{ language.name_local }} ({{ language.code|upper }})
                                            </button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'main:home' %}#home-webchat" class="default-btn header-cta">
                                    <i class="bi bi-chat-dots"></i>
                                    <span>{% trans "Accéder au tchat" %}</span>
                                </a>
                            </li>
                            <li class="dropdown header-account-dropdown">
                                <a
                                    href="#"
                                    class="default-btn login dropdown-toggle"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="bi bi-person-circle"></i>
                                    <span>{% blocktrans with username=request.user.username %}Compte : {{ username }}{% endblocktrans %}</span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'profile' username=request.user.username %}">
                                            <i class="bi bi-person"></i>
                                            {% trans "Mon profil" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'account_settings' %}">
                                            <i class="bi bi-gear"></i>
                                            {% trans "Paramètres du compte" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'change_password' %}">
                                            <i class="bi bi-key"></i>
                                            {% trans "Modifier le mot de passe" %}
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="bi bi-box-arrow-right"></i>
                                            {% trans "Déconnexion" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'main:home' %}#home-webchat" class="default-btn header-cta">
                                    <i class="bi bi-chat-dots"></i>
                                    <span>{% trans "Accéder au tchat" %}</span>
                                </a>
                            </li>
                            <li><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" class="default-btn login"><i class="fa-solid fa-user"></i> <span>{% trans "S'identifier" %}</span> </a></li>
                            <li><a href="{% url 'register' %}" class="default-btn signup"><i class="fa-solid fa-users"></i> <span>{% trans "Créer un compte" %}</span> </a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
  </header>
