{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
<html lang="{% get_current_language as LANGUAGE_CODE %}">
{% block title %}home - chaat.site{% endblock %}
{% block content %}
    <!-- ================> Banner section start here <================== -->
    <div class="banner banner--style3 padding-top bg_img"  style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        
        <div class="container">
            <div class="row g-0 justify-content-center justify-content-xl-between">
                <div class="col-lg-5 col-12 wow fadeInLeft" data-wow-duration="1.5s">
                    <div class="banner__content">
                        <div class="banner__title">
                            <h2>Tchatter<span> avec </span>des personnes proche de vous...</h2>
                            <p>{% trans "Serveur de tchat francophone gratuit, sans inscription obligatoire..." %}</p>
                            <a href="#" class="default-btn style-2"><span>tChatter ici c'est rapide, simple et sans inscription.</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 wow fadeInUp" data-wow-duration="1.5s">
                    <div class="banner__thumb text-xl-end">
                        <img src="{% static 'images/banner/03.png' %}" alt="banner">
                        <div class="banner__thumb--shape">
                            <div class="shapeimg">
                                <img src="{% static 'images/banner/shape/home3/01.png' %}" alt="dating thumb">
                            </div>
                        </div>
                        <div class="banner__thumb--title">
                            <h4>{% trans "#Coucou?, c'est gratuit.." %}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================> Banner section end here <================== -->

    <div class="about about--style2 padding-top pt-xl-0">
		<div class="container">
			<div class="section__wrapper wow fadeInUp" data-wow-duration="1.5s">
				<div class="row g-0 justify-content-center row-cols-lg-2 row-cols-1">
					<div class="col">
						<div class="about__left">
							<div class="about__top">
								<div class="about__content">
									<h3>TchatZone</h3>
									<p>C'est là où il est facile de discuter gratuitement avec des milliers de personnes.</p>
								</div>
							</div>
							<div class="about__bottom">
								<div class="about__bottom--head">
									<h5>Derniers membres inscrits</h5>
									<div class="about__bottom--navi">
										<div class="ragi-prev"><i class="fa-solid fa-chevron-left"></i></div>
										<div class="ragi-next active"><i class="fa-solid fa-chevron-right"></i></div>
									</div>
								</div>
								<div class="about__bottom--body">
									<div class="ragi__slider overflow-hidden">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/01.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/02.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/03.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/04.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/05.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/01.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/02.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/03.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="ragi__thumb">
													<a href="member-single.html"><img src="{% static 'images/ragi/04.jpg' %}" alt="dating thumb"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="about__right">
							<div class="about__title">
								<h3>Entrer sans inscription</h3>
							</div>
							<form action="{% url 'webchat' %}" method="GET" class="form" target="_blank" id="form-desktop">
								<div class="banner__list">
									<div class="row">
										<div class="col-6">
											<div class="form-group">
                                              <strong><label >Pseudo</label></strong>
                                              <input type="text" pattern=".{3,}" title="Saisissez un pseudo avec minimum 3 caractères." id="pseudo" name="nick" class="my-form-control" placeholder="Entrer un pseudo" required="">
                                            </div>
                                            <style> 
                                                .my-form-control::-webkit-input-placeholder {color:    rgb(0, 0, 0);  }
                                                .my-form-control::-moz-placeholder { color:  rgb(0, 0, 0); }
                                                .my-form-control:-ms-input-placeholder { color:  rgb(0, 0, 0);  }
                                                .my-form-control::placeholder { color:  rgb(0, 0, 0);  }
                                            </style>
										</div>
                                        <div class="col-lg-6 col-12">
											<strong><label>Sexe</label></strong>
											<div class="banner__inputlist">
												<select>
													<option value="homme">Homme</option>
													<option value="femme" selected>Femme</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="banner__list">
									<div class="row">
										<div class="col-lg-6 col-12">
											<strong><label>Âge</label></strong>
											<div class="row g-3">
												<div class="col-6">
													<div class="banner__inputlist">
														<select>
															<option value="18" selected>18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
															<option value="28">28</option>
															<option value="29">29</option>
															<option value="30">30</option>
															<option value="31">31</option>
															<option value="32">32</option>
															<option value="33">33</option>
															<option value="34">34</option>
															<option value="35">35</option>
															<option value="36">36</option>
															<option value="37">37</option>
															<option value="38">38</option>
															<option value="39">39</option>
															<option value="40">40</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<strong><label>Ville</label></strong>
											<div class="banner__inputlist">
												<select name="ville">
                                                    <option value="">Sélectionner une ville</option>
                                                    {% for city in cities %}
                                                        <option value="{{ city.name }}">{{ city.name }}</option>
                                                    {% endfor %}
                                                </select>
											</div>
										</div>
									</div>
								</div>
								<button type="submit" class="default-btn reverse d-block"><span>tchatter..</span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="about padding-top padding-bottom">
		<div class="container">
			<div class="section__header style-2 text-center wow fadeInUp" data-wow-duration="1.5s">
				<h2>Tout commence dans le tchat...</h2>
				<p>Apprenez d'eux et essayez de vous faire remarquer sur ce forum. Cela augmentera à coup sûr votre visibilité et vos chances de retrouver l'être aimé.</p>
			</div>
			<div class="section__wrapper">
				<div class="row g-4 justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1">
					<div class="col wow fadeInUp" data-wow-duration="1.5s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="{% static 'images/about/icon/01.png' %}" alt="dating thumb">
								</div>
								<div class="about__content">
									<h3><span class="counter" data-to="990960" data-speed="1500"></span></h3>
									<p>Members in Total</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col wow fadeInUp" data-wow-duration="1.6s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="{% static 'images/about/icon/02.png' %}" alt="dating thumb">
								</div>
								<div class="about__content">
									<h3><span class="counter" data-to="628590" data-speed="1500"></span></h3>
									<p>Members Online</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col wow fadeInUp" data-wow-duration="1.7s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="{% static 'images/about/icon/03.png' %}" alt="dating thumb">
								</div>
								<div class="about__content">
									<h3><span class="counter" data-to="314587" data-speed="1500"></span></h3>
									<p>Women Online</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col wow fadeInUp" data-wow-duration="1.8s">
						<div class="about__item text-center">
							<div class="about__inner">
								<div class="about__thumb">
									<img src="{% static 'images/about/icon/04.png' %}" alt="dating thumb">
								</div>
								<div class="about__content">
									<h3><span class="counter" data-to="102369" data-speed="1500"></span></h3>
									<p>Men Online</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- ================> About section end here <================== -->

    <!-- ================> Member section start here <================== -->
    <div class="member member--style3 padding-top padding-bottom" style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        <div class="container">
            <div class="section__header style-2 text-center wow fadeInUp" data-wow-duration="1.5s">
                <h2>{% trans "Only True People" %}</h2>
                <p>{% trans "Learn from them and try to make it to this board. This will for sure boost you visibility and increase your chances to find you loved one." %}</p>
            </div>
            <div class="section__wrapper">
                <div class="row g-0 mx-12-none justify-content-center wow fadeInUp" data-wow-duration="1.5s">
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/01.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Michelle</h5></a>
                                <p>Active il a 2 heures</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/02.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Pedro</h5></a>
                                <p>Active il a 1 heure</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/03.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Arika</h5></a>
                                <p>Active il a 3 jours</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/04.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Chintoc</h5></a>
                                <p>Active il a 10 jours</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/05.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Jhon</h5></a>
                                <p>Active il a 23 jours</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/06.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Armelle</h5></a>
                                <p>Active il a 2 heures</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/07.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Mike</h5></a>
                                <p>Active il a 2 heures</p>
                            </div>
                        </div>
                    </div>
                    <div class="member__item">
                        <div class="member__inner">
                            <div class="member__thumb">
                                <img src="{% static 'images/member/home3/08.jpg' %}" alt="member-img">
                            </div>
                            <div class="member__content">
                                <a href="#"><h5>Clara</h5></a>
                                <p>Active il a 2 minutes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4 wow fadeInUp" data-wow-duration="2s">
                    <a href="#" class="default-btn"><span>{% trans "View More Popular" %} <i class="ms-2 fas fa-users"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ================> Member section end here <================== -->

    <!-- ================> Meet section start here <================== -->
    <div class="meet meet--style2 padding-top padding-bottom" style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        <div class="container">
            <div class="section__wrapper">
                <div class="row g-4 justify-content-center align-items-center">
                    <div class="col-lg-6 col-12 wow fadeInUp" data-wow-duration="1.5s">
                        <div class="section__header">
                            <h2>{% trans "Rencontrez des future amies dans votre région" %}</h2>
                            <p>{% trans "Trouvez votre âme sœur dans les villes les plus populaires de France. Soyez aventureux et trouvez quelqu'un dans d'autres parties de la France, vous ne savez jamais où se cache l'amour." %} </p>
                            <a href="#" class="default-btn"><span>{% trans "France" %} <i class="fas fa-map-marker-alt ms-2"></i></span></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 wow fadeInUp" data-wow-duration="1.6s">
                        <div class="meet__item">
                            <div class="meet__inner">
                                <div class="meet__thumb">
                                    <a href="#"><img src="{% static 'images/meet/02.jpg' %}" alt="dating thumb"></a>
                                </div>
                                <div class="meet__content">
                                    <img src="{% static 'images/meet/icon/02.jpg' %}" alt="dating thumb">
                                    <a href="#"><h4>Lyon</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 wow fadeInUp" data-wow-duration="1.7s">
                        <div class="meet__item">
                            <div class="meet__inner">
                                <div class="meet__thumb">
                                    <a href="#"><img src="{% static 'images/meet/03.jpg' %}" alt="dating thumb"></a>
                                </div>
                                <div class="meet__content">
                                    <img src="{% static 'images/meet/icon/03.jpg' %}" alt="dating thumb">
                                    <a href="#"><h4>Marseilles</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 wow fadeInUp" data-wow-duration="1.8s">
                        <div class="meet__item">
                            <div class="meet__inner">
                                <div class="meet__thumb">
                                    <a href="#"><img src="{% static 'images/meet/04.jpg' %}" alt="dating thumb"></a>
                                </div>
                                <div class="meet__content">
                                    <img src="{% static 'images/meet/icon/04.jpg' %}" alt="dating thumb">
                                    <a href="#"><h4>Lille</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 wow fadeInUp" data-wow-duration="1.9s">
                        <div class="meet__item">
                            <div class="meet__inner">
                                <div class="meet__thumb">
                                    <a href="#"><img src="{% static 'images/meet/05.jpg' %}" alt="dating thumb"></a>
                                </div>
                                <div class="meet__content">
                                    <img src="{% static 'images/meet/icon/05.jpg' %}" alt="dating thumb">
                                    <a href="#"><h4>Nantes</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 wow fadeInUp" data-wow-duration="2s">
                        <div class="meet__item">
                            <div class="meet__inner">
                                <div class="meet__thumb">
                                    <a href="#"><img src="{% static 'images/meet/06.jpg' %}" alt="dating thumb"></a>
                                </div>
                                <div class="meet__content">
                                    <img src="{% static 'images/meet/icon/06.jpg' %}" alt="dating thumb">
                                    <a href=""><h4>Paris</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================> Meet section end here <================== -->

    <!-- ================> Work section start here <================== -->
    <div class="work padding-top padding-bottom bg_img" style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        <div class="container">
            <div class="section__header text-center wow fadeInUp" data-wow-duration="1.5s">
                <h2>{% trans "Pourquoi choisir chaat.site?" %}</h2>
            </div>
            <div class="section__wrapper wow fadeInUp" data-wow-duration="1.5s">
                <div class="d-xl-flex align-items-start work__area">
                    <div class="nav flex-xl-column nav-pills me-xl-4 work__tablist" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link" id="work__tab1-tab" data-bs-toggle="pill" data-bs-target="#work__tab1" type="button" role="tab" aria-controls="work__tab1" aria-selected="true"><img src="{% static 'images/work/01.png' %}" alt="dating thumb" class="me-3"><span>Trouvez votre moitie</span></button>
                        <button class="nav-link active" id="work__tab2-tab" data-bs-toggle="pill" data-bs-target="#work__tab2" type="button" role="tab" aria-controls="work__tab2" aria-selected="false"><img src="{% static 'images/work/02.png' %}" alt="dating thumb" class="me-3"><span>100% Match de gens</span></button>
                        <button class="nav-link" id="work__tab3-tab" data-bs-toggle="pill" data-bs-target="#work__tab3" type="button" role="tab" aria-controls="work__tab3" aria-selected="false"><img src="{% static 'images/work/03.png' %}" alt="dating thumb" class="me-3"><span>Trouvez un/une amie</span></button>
                        <button class="nav-link" id="work__tab4-tab" data-bs-toggle="pill" data-bs-target="#work__tab4" type="button" role="tab" aria-controls="work__tab4" aria-selected="false"><img src="{% static 'images/work/04.png' %}" alt="dating thumb" class="me-3"><span>Vivre des histoires</span></button>
                    </div>
                    <div class="tab-content work__tabcontent" id="v-pills-tabContent">
                        <div class="tab-pane fade" id="work__tab1" role="tabpanel" aria-labelledby="work__tab1-tab">
                            <div class="work__item">
                                <div class="work__inner">
                                    <div class="work__thumb">
                                        <img src="{% static 'images/work/05.png' %}" alt="dating thumb">
                                    </div>
                                    <div class="work__content">
                                        <h3>{% trans "Trouvez votre moitie" %}</h3>
                                        <p>{% trans "Les étapes simples à suivre pour avoir une excellente expérience d’utilisation de chaat.site. tout ce que vous avez à faire est de suivre votre instinct et de faire vibrer votre cœur !" %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="work__tab2" role="tabpanel" aria-labelledby="work__tab2-tab">
                            <div class="work__item">
                                <div class="work__inner">
                                    <div class="work__thumb">
                                        <img src="{% static 'images/work/06.png' %}" alt="dating thumb">
                                    </div>
                                    <div class="work__content">
                                        <h3>{% trans "100% Match de gens" %}</h3>
                                        <p>{% trans "Nos utilisateurs son réel, chaat.site et libre de bots et fake users." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="work__tab3" role="tabpanel" aria-labelledby="work__tab3-tab">
                            <div class="work__item">
                                <div class="work__inner">
                                    <div class="work__thumb">
                                        <img src="{% static 'images/work/07.png' %}" alt="dating thumb">
                                    </div>
                                    <div class="work__content">
                                        <h3>{% trans "Trouvez une amie" %}</h3>
                                        <p>{% trans "Parce que l'amitié est aussi très importante pour nous, et devrait l'être aussi pour vous." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="work__tab4" role="tabpanel" aria-labelledby="work__tab4-tab">
                            <div class="work__item">
                                <div class="work__inner">
                                    <div class="work__thumb">
                                        <img src="{% static 'images/work/08.png' %}" alt="dating thumb">
                                    </div>
                                    <div class="work__content">
                                        <h3>{% trans "Live The Story" %}</h3>
                                        <p>{% trans "Les étapes simples à suivre pour avoir une excellente expérience d’utilisation de chaat.site. tout ce que tu as à faire c'est de suivre ton instinct et de surprendre ton cœur!" %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================> Work section end here <================== -->

    <!-- ================> Story section start here <================== -->
    <div class="story padding-top padding-bottom" style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        <div class="container">
            <div class="section__header style-2 text-center wow fadeInUp" data-wow-duration="1.5s">
                <h2>{% trans "chaat.site blogs" %}</h2>
                <p>{% trans "Listen and learn from our community members and find out tips and tricks to meet your love. Join us and be part of a bigger family." %}</p>
            </div>
            <div class="section__wrapper wow fadeInUp" data-wow-duration="2s">
                <div class="row g-4 justify-content-center row-cols-lg-3 row-cols-sm-2 row-cols-1">
                    <div class="col">
                        <div class="story__item">
                            <div class="story__inner">
                                <div class="story__thumb">
                                    <a href="#"><img src="{% static 'images/story/01.jpg' %}" alt="dating thumb"></a>
                                    <span class="member__activity member__activity--offline">{% trans "Entertainment" %}</span>
                                </div>
                                <div class="story__content">
                                    <a href="#"><h4>Des lieux de rêve et des lieux à visiter en 2025</h4></a>
                                    <div class="story__content--author">
                                        <div class="story__content--thumb">
                                            <img src="{% static 'images/story/author/01.jpg' %}" alt="dating thumb">
                                        </div>
                                        <div class="story__content--content">
                                            <h6>Hester</h6>
                                            <p>Janvier 16, 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="story__item">
                            <div class="story__inner">
                                <div class="story__thumb">
                                    <a href="#"><img src="{% static 'images/story/02.jpg' %}" alt="dating thumb"></a>
                                    <span class="member__activity member__activity--offline">Love Stories</span>
                                </div>
                                <div class="story__content">
                                    <a href="#"><h4>Réalisez vos rêves et monétisez rapidement</h4></a>
                                    <div class="story__content--author">
                                        <div class="story__content--thumb">
                                            <img src="{% static 'images/story/author/02.jpg' %}" alt="dating thumb">
                                        </div>
                                        <div class="story__content--content">
                                            <h6>Arika</h6>
                                            <p>Janvier 5, 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="story__item">
                            <div class="story__inner">
                                <div class="story__thumb">
                                    <a href="#"><img src="{% static 'images/story/03.jpg' %}" alt="dating thumb"></a>
                                    <span class="member__activity member__activity--offline">Attraction</span>
                                </div>
                                <div class="story__content">
                                    <a href="#"><h4>L'amour ne regarde pas avec les yeux, mais avec l'esprit.</h4></a>
                                    <div class="story__content--author">
                                        <div class="story__content--thumb">
                                            <img src="{% static 'images/story/author/03.jpg' %}" alt="dating thumb">
                                        </div>
                                        <div class="story__content--content">
                                            <h6>Margot</h6>
                                            <p>Février 18, 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================> Story section end here <================== -->

    <!-- ================> Work section start here <================== -->
    <div class="work work--style2 padding-top padding-bottom bg_img" style="background-image: url('{% static "images/banner/bg.jpg" %}');">
        <div class="container">
            <div class="section__wrapper">
                <div class="row g-4 justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-12 wow fadeInLeft" data-wow-duration="1.5s">
                        <div class="work__item">
                            <div class="work__inner">
                                <div class="work__thumb">
                                    <img src="{% static 'images/work/09.png' %}" alt="dating thumb">
                                </div>
                                <div class="work__content">
                                    <h3>{% trans "Confiance et sécurité" %}</h3>
                                    <p>{% trans "Notre tchat utilise la technologie SSL ce qui permet au site de sécuriser les échanges de données par chiffrement." %}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-12 wow fadeInRight" data-wow-duration="1.5s">
                        <div class="work__item">
                            <div class="work__inner">
                                <div class="work__thumb">
                                    <img src="{% static 'images/work/09.png' %}" alt="dating thumb">
                                </div>
                                <div class="work__content">
                                    <h3>{% trans "De nombreux thèmes" %}</h3>
                                    <p>{% trans "Retrouvez de nombreux salons de discussions sur des sujets divers et variés." %}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-12 wow fadeInRight" data-wow-duration="1.5s">
                        <div class="work__item">
                            <div class="work__inner">
                                <div class="work__thumb">
                                    <img src="{% static 'images/work/09.png' %}" alt="dating thumb">
                                </div>
                                <div class="work__content">
                                    <h3>{% trans "Des milliers d'utilisateurs" %}</h3>
                                    <p>{% trans "À toute heure du jour ou de la nuit vous pouvez discuter avec des milliers d'utilisateurs qui sont toujours au rendez-vous !" %}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-12 wow fadeInRight" data-wow-duration="1.5s">
                        <div class="work__item">
                            <div class="work__inner">
                                <div class="work__thumb">
                                    <img src="{% static 'images/work/09.png' %}" alt="dating thumb">
                                </div>
                                <div class="work__content">
                                    <h3>{% trans "Avec un tchat totalement gratuit" %}</h3>
                                    <p>{% trans "Un lieu de rencontre pour un échange convivial sans interruption et sans prise de tête 24h/24 7j/7. C'est rapide, simple et sans inscription." %}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
    <!-- ================> Work section end here <================== -->
{% endblock %}
